body {
  background-color: rgba(119, 95, 95, 0.635);
  font-family: sans-serif;
}

#form-container {
  margin: 50px auto 20px auto;
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(105, 105, 105, 0.423);
}

h1 {
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
}

form {
  padding: 10px;
  display: flex;
}

form #search-txt {
  width: 515px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  margin-right: 5px;
}

form #search-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(124, 94, 94);
  font-size: 12px;
}

#poem-container {
  background-color: white;
  margin: 10px auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(105, 105, 105, 0.423);
  font-size: 13px;
  color: rgb(124, 94, 94);
}

.hidden {
  display: none;
}

.poem-title {
  font-size: 18px;
  font-weight: lighter;
  color: black;
  margin-left: 5px;
}

.poem-text {
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 30px;
  color: black;
  margin-left: 5px;
}

footer {
  text-align: center;
  padding: 25px 0 5px 0;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: rgb(103, 70, 70);
}
