body {
  background-color: #9ba58b;
  background-image: url("/src/images/poems.jpeg");
  background-size: 1290px 853px;
  background-position: top;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

#form-container {
  margin: 120px auto 20px auto;
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(105, 105, 105, 0.423);
}

h1 {
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
}

form {
  padding: 10px;
  display: flex;
}

form #search-txt {
  width: 515px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  margin-right: 5px;
}

form #search-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #da7c78;
  font-size: 12px;
}

#poem-container {
  background-color: white;
  margin: 10px auto;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(105, 105, 105, 0.423);
  font-size: 13px;
  color: rgb(124, 94, 94);
}

.hidden {
  display: none;
}

.poem-title {
  font-size: 18px;
  font-weight: lighter;
  color: black;
  margin: 5px 0 15px 10px;
}

.poem-text {
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 30px;
  color: black;
  margin-left: 10px;
}

.poem strong {
  margin-left: 10px;

  color: rgb(103, 70, 70);
}

footer {
  text-align: center;
  padding: 25px 0 5px 0;
  font-size: 12px;
  color: rgb(190, 190, 190);
}

footer a {
  text-decoration: none;
  color: #da7b78d1;
}
